.ace-nav>li 
    {
    display: block;
    line-height: 3em;
    height: 3em;
    border-left: 1px solid #DDD;
    padding: 0;
    position: relative;
    float: left!important;
    list-style:none !important;
    }

.ace-nav>li.photo
{
     border-left: 0px solid #DDD;
}

.ace-nav>li>a {
        
        color: rgb(102,102,102);
        display: block;
        line-height: inherit;
        text-align: center;
        height: 100%;
        width: auto;
        min-width: 50px;
        padding: 0 8px;
        position: relative;
        text-decoration:none;
}
.ace-nav>li>a>.fa {
        font-size: 1.1em;
        color: rgb(248, 148, 6);
        display: inline-block;
        width: 1.5em;
        text-align: center;
}

.ace-nav>li>a>.fa-sign-in {
        font-size: 1.1em;
        color: rgb(102,102,102);
        display: inline-block;
        width: 1.5em;
        text-align: center;
}

.badge {
        text-shadow: none;
        font-size: 0.9em;
        padding-top: 0.0625em;
        padding-bottom: 0.1875em;
        font-weight: normal;
        line-height: 1em;
        background-color:rgba(239, 239, 239, 0.78);
        color:rgb(248, 148, 6);

    }

.ace-nav>li>a> .badge.grey {        
        color: rgb(102,102,102);

    }

.ace-nav>li>a>.fa.grey {
       
        background-color:rgba(239, 239, 239, 0.78);
        color: rgb(102,102,102);

    }
.ace-nav>li>a>.icon-animated-bell
{
    display:inline-block;
    -moz-animation:ringing 2.0s 25 ease 1.0s;
    -webkit-animation:ringing 2.0s 25 ease 1.0s;
    -o-animation:ringing 2.0s 25 ease 1.0s;
    -ms-animation:ringing 2.0s 25 ease 1.0s;
    animation:ringing 2.0s 25 ease 1.0s;
    -moz-transform-origin:50% 0;
    -webkit-transform-origin:50% 0;
    -o-transform-origin:50% 0;
    -ms-transform-origin:50% 0;
    transform-origin:50% 0

}
@-moz-keyframes ringing{
    0%{-moz-transform:rotate(-15deg)}
    2%{-moz-transform:rotate(15deg)}
    4%{-moz-transform:rotate(-18deg)}
    6%{-moz-transform:rotate(18deg)}
    8%{-moz-transform:rotate(-22deg)}
    10%{-moz-transform:rotate(22deg)}
    12%{-moz-transform:rotate(-18deg)}
    14%{-moz-transform:rotate(18deg)}
    16%{-moz-transform:rotate(-12deg)}
    18%{-moz-transform:rotate(12deg)}
    20%{-moz-transform:rotate(0deg)}

}

@-webkit-keyframes ringing{
    0%{-webkit-transform:rotate(-15deg)}
    2%{-webkit-transform:rotate(15deg)}
    4%{-webkit-transform:rotate(-18deg)}
    6%{-webkit-transform:rotate(18deg)}
    8%{-webkit-transform:rotate(-22deg)}
    10%{-webkit-transform:rotate(22deg)}
    12%{-webkit-transform:rotate(-18deg)}
    14%{-webkit-transform:rotate(18deg)}
    16%{-webkit-transform:rotate(-12deg)}
    18%{-webkit-transform:rotate(12deg)}
    20%{-webkit-transform:rotate(0deg)}

}

@-ms-keyframes ringing
{
    0%{-ms-transform:rotate(-15deg)}
    2%{-ms-transform:rotate(15deg)}
    4%{-ms-transform:rotate(-18deg)}
    6%{-ms-transform:rotate(18deg)}
    8%{-ms-transform:rotate(-22deg)}
    10%{-ms-transform:rotate(22deg)}
    12%{-ms-transform:rotate(-18deg)}
    14%{-ms-transform:rotate(18deg)}
    16%{-ms-transform:rotate(-12deg)}
    18%{-ms-transform:rotate(12deg)}
    20%{-ms-transform:rotate(0deg)}

}

@keyframes ringing
{
    0%{transform:rotate(-15deg)}
    2%{transform:rotate(15deg)}
    4%{transform:rotate(-18deg)}
    6%{transform:rotate(18deg)}
    8%{transform:rotate(-22deg)}
    10%{transform:rotate(22deg)}
    12%{transform:rotate(-18deg)}
    14%{transform:rotate(18deg)}
    16%{transform:rotate(-12deg)}
    18%{transform:rotate(12deg)}20%{transform:rotate(0deg)}

}

.ace-nav>li>a>.icon-animated-vertical{
    display:inline-block;
    -moz-animation:vertical 2.0s 5 ease 2.0s;
    -webkit-animation:vertical 2.0s 5 ease 2.0s;
    -o-animation:vertical 2.0s 5 ease 2.0s;
    -ms-animation:vertical 2.0s 5 ease 2.0s;
    animation:vertical 2.0s 5 ease 2.0s}

@-moz-keyframes vertical{
    0%{-moz-transform:translate(0,-0.1875em)}
    4%{-moz-transform:translate(0,0.1875em)}
    8%{-moz-transform:translate(0,-0.1875em)}
    12%{-moz-transform:translate(0,0.1875em)}
    16%{-moz-transform:translate(0,-0.1875em)}
    20%{-moz-transform:translate(0,0.1875em)}
    22%{-moz-transform:translate(0,0)}}

@-webkit-keyframes vertical{
    0%{-webkit-transform:translate(0,-0.1875em)}
    4%{-webkit-transform:translate(0,0.1875em)}
    8%{-webkit-transform:translate(0,-0.1875em)}
    12%{-webkit-transform:translate(0,0.1875em)}
    16%{-webkit-transform:translate(0,-0.1875em)}
    20%{-webkit-transform:translate(0,0.1875em)}
    22%{-webkit-transform:translate(0,0)}}

@-ms-keyframes vertical{
    0%{-ms-transform:translate(0,-0.1875em)}
    4%{-ms-transform:translate(0,0.1875em)}
    8%{-ms-transform:translate(0,-0.1875em)}
    12%{-ms-transform:translate(0,0.1875em)}
    16%{-ms-transform:translate(0,-0.1875em)}
    20%{-ms-transform:translate(0,0.1875em)}
    22%{-ms-transform:translate(0,0)}}
@keyframes vertical{
    0%{transform:translate(0,-0.1875em)}
    4%{transform:translate(0,0.1875em)}
    8%{transform:translate(0,-0.1875em)}
    12%{transform:translate(0,0.1875em)}
    16%{transform:translate(0,-0.1875em)}
    20%{transform:translate(0,0.1875em)}
    22%{transform:translate(0,0)}

}

.dropdown-navbar > li.dropdown-header {
color: rgb(128, 144, 160);
border-bottom-color: rgb(188, 212, 229);
background-color: rgb(236, 242, 247);
text-shadow: none;
padding-top: 0px;
padding-bottom: 0px;
line-height: 2.125em;
font-size: 0.9em;
font-weight: bold;
text-transform: none;
border-bottom: 1px solid;
text-align:center;
}

.dropdown-menu
{
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    width: 15em;
}

.pull-right.dropdown-navbar {
padding: 0px;
width: 15em;
-webkit-box-shadow: rgba(30, 30, 100, 0.247059) 0px 0.125em 0.25em;
box-shadow: rgba(30, 30, 100, 0.247059) 0px 0.125em 0.25em;
border-color: rgb(188, 212, 229);
}

.dropdown-navbar > li > a {
border-bottom-color: rgb(228, 236, 243)!important;
padding: 0.625em 0.25em;
margin: 0px;
border-bottom: 1px solid;
font-size: 0.9em;
line-height: 1em;
color: rgb(85, 85, 85);
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active, .dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu .dropdown-submenu:hover>a, .nav-tabs .dropdown-menu li>a:focus {
background: #e2eef6;
color: rgb(85, 85, 85);
}

.dropdown-navbar>li:last-child>a:hover {
background-color: #FFF;
color: #4f99c6;
text-decoration: underline;
}
.dropdown-navbar>li:last-child>a {
border-bottom: 0 solid #DDD;
border-top: 1px dotted transparent;
color: #4f99c6;
text-align: center;
font-size: 0.9em;
}

.photoimg
{
margin-top:-0.3125em;
margin-bottom:0.3125em;
height:3em;
}
